body{
    background-color: darkcyan;
    color: whitesmoke;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}
p{
    background-color: aqua;
    width: 70px;
    height: 40px;
    border: 1px solid black;
    color: darkblue;
    
}
#contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}


#contenedor>div{
    margin-bottom: 2%;
}